body {
	margin: 0;
}

.container {
	background-color: #f3f7fa;
	font-family: "OpenSans", Arial, sans-serif;
	padding: 15px;
}

.main {
	display: inline-flex;
	flex-direction: column;
	background: $main_light;
	border-radius: 5px;
	padding: 15px;
	position: relative;
	min-width: 420px;
	box-sizing: border-box;

	&.loading {
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background: url("../../images/preloader.gif") center no-repeat rgba(194, 194, 194, 0.5);
			left: 0;
			top: 0;
			transition: .4s;
			background-size: 60px 60px;
		}
	}
}